.Header {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  height: 4rem;
  position: fixed;
  width: 100%;
  z-index: 100;
  background: white;
  top: 0;
  display: flex;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    a.logo {
      padding: 0.5rem 0;
    }

    a.login {
      color: #333;
      display: flex;
      align-items: center;

      &::after {
        content: '';

        display: inline-block;
        width: 14px;
        height: 17px;

        margin-left: 0.5rem;

        background: url('../../assets/usuario.svg');
      }
    }
  }
}